// Display FLEX
@mixin flex-center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}





@mixin escalar{
    @keyframes escalado {
        0% {
            transform: scale(1.0);
        }
        50%{
            transform: scale(1.1);
        }
        100%{
            transform: scale(1.0);
        }
    }
}

@mixin escalado_suave{
    @include escalar;
    animation-name: escalado;
    animation-duration: 0.5s;
    cursor: pointer;
    animation-fill-mode: forwards; //con esto la animacion queda en la posicion final
    transform: scale(1.0);
}

